<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="MSSQLConnectString" connectionString="Data Source=NIX-MACHINE\SQLEXPRESS;Initial Catalog=RealEstate;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <httpRuntime
      executionTimeout="1200"
      maxRequestLength="102400"
      useFullyQualifiedRedirectUrl="false"
      minFreeThreads="8"
      minLocalRequestFreeThreads="4"
      appRequestQueueLimit="100" />
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="None">
      <forms name="MyAuthenCookie" loginUrl="RealEstateWebService" protection="All" timeout="60" path="/">
        <credentials passwordFormat="SHA1">
          <user name="silaniu" password="UH57RH8YGHELI8HW2R37HFGG28JSH6HBV8C7"/>
        </credentials>
      </forms>
    </authentication>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.runtime.serialization>
    <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
  </system.runtime.serialization>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>