<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RealEstateDataContext.Properties.Settings.RealEstateConnectionString"
            connectionString="Data Source=NIX-MACHINE\SQLEXPRESS;Initial Catalog=RealEstate;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="RealEstateDataContext.Properties.Settings.RealEstateConnectionString1"
            connectionString="Data Source=NIX-MACHINE\SQLEXPRESS;Initial Catalog=RealEstate;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>